<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styles.css">
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
</head>
<body>
    <div class="main-content">
      {{>header}}
      <img class='potrait' src="/img/macbookair2011-07-25-600-6.jpg" alt="">
    </div>
    
    {{!-- <h1>{{title}}</h1> --}}
    {{!-- <p>Created By {{name}}</p> --}}

    {{>footer}}
</body>
</html>